<li class="listItem">
    {{bundle_name}}

    <button class="claimItem" data-id="{{id}}" data-claimed="{{claimed}}">
        {{#unless claimed}}Claim{{/unless}}
    </button>

    <button class="delete" data-id="{{this.id}}">Delete</button>
</li>