<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Virtuous Circle</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/assets/js/listeners.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css" type="text/css" />
</head>

<body>
    <nav>
        <div class="nav-wrapper light-green darken-4">
    </nav></div>
    <div>
    <img src="./img/peaches.jpg" alt="peaches" class="bannerImg">

    <span class="projectName">Virtuous Circle</span>
    <div class="sheerBox"> </div>
    <h4 class="hero-text blockquote">
    A bulletin board to promote sharing of surplus fresh, local food among food pantries, shelters, restaurants, caterers and farmers markets.
    </h4> </div></div>

    <div class="container></div>">
        <div class="row">
            <h1>Welcome</h1>
          <p>Food suppliers often need a timely and convenient way to dispose of perfectly good unused food prepared in bulk, and there are many who need it at local shelters and food pantries.  This platform is designed to simplify the process of posting available food bundles, and getting them delivered to agencies that care for those in need.  Version 1 emphasizes simple posting of "Offered" food bundles with a simple "Claim" function; plans for development include adding contact and pickup details, and more interactivity for donors, recipients and volunteers.</p>
        </div>

	{{{ body }}}
	
</body>
    <footer>
        Image from <a
            href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=869386">Pixabay</a>
    </footer>
</html>