<h1 class="headline">Surplus Food Items</h1>

<h2>Offered</h2>

<ul class="claimed">
    {{#each foodcircle}}
        {{#if claimed}
            {{>foodbundles/bundle-block claimed=true}}
        {{/unless}}
    {{/each}}
</ul>
<h2 class="offered"></h2>

<ul>
    {{#each foodcircle}}
        {{#unless claimed}}
            {{>foodbundles/bundle-block claimed=false}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add A Bundle</h2>
<form class="create-form">
    <div class="form-group">
        <label for="inputBox" class="addBundle"></label>
        <input type="text" id="inputBox" name="name">
    </div>

    <div class="form-group">
        <label for="offered">Active Offerings</label><br>
        <input type="radio" name="claimed" value="1" checked> Offered<br>
        <input type="radio" name="offered" value="0"> Claimed
    </div>

    <button type="submit">Add Bundle</button>
</form>